recursive-include pretix_email_template_plugin/static *
recursive-include pretix_email_template_plugin/templates *
recursive-include pretix_email_template_plugin/locale *
include LICENSE
exclude .gitlab-ci.yml
